<style>    
  .topnav {
    overflow: hidden;
    background-color: #ffffff;
    position: relative;
    margin-bottom: 20px;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .topnav #myLinks {
    display: none;
  }
  
  .topnav a {
    color: rgb(0, 0, 0);
    padding: 12px 14px;
    text-decoration: none;
    font-size: 26px;
    display: block;
  }
  
  .topnav a.icon {
    background: rgb(255, 255, 255);
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  </style>

  <div class="topnav">
    <a href="/" class="active">Tega Gig's </a>
    <div id="myLinks">
      <a href="gigs">Gig's</a>
      <a href="/about">About</a>
      <a href="/contact">Contact</a>
    </div>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
  
  <script>
  function myFunction() {
    var x = document.getElementById("myLinks");
    if (x.style.display === "block") {
      x.style.display = "none";
    } else {
      x.style.display = "block";
    }
  }
  </script>